<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F08E01</title>
    <script src="js/vue.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>
    <div id="intro">
        <div class="container mt-5">
            <div class="jumbotron">
                <h1 class="display-3">PortugalCastles</h1>
                <hr>
                <div v-if="form.edit">
                    <button class="btn btn-warning text-white col-12" @click="cancelEdit">Cancelar edição</button>
                    <hr>
                </div>
                <form class="row" @submit.prevent="validateSubmit()">
                    <!-- nome -->
                    <div class="form-group col-12 mt-2">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" id="name" v-model="form.name" required>
                    </div>
                    <!-- /nome -->

                    <!-- url photo -->
                    <div class="form-group col-sm-6 col-12 mt-2">
                        <label for="photo">URL foto:</label>
                        <input type="url" class="form-control" id="photo" v-model="form.photo" required>
                    </div>
                    <!-- /url photo -->

                    <!-- ano -->
                    <div class="form-group col-sm-6 col-12 mt-2">
                        <label for="year">Ano de fundação:</label>
                        <input type="number" min="0" :max="getMaxYear()" class="form-control" id="year" v-model="form.year"
                            required>
                    </div>
                    <!-- /ano -->

                    <!-- submit btn -->
                    <div class="text-center col-12">
                        <input type="submit" class="btn btn-primary col-12" value="Adicionar castelo">
                    </div>
                </form>
                <br>
                <div v-if="printCastles.length">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Ano de fundação</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(castle, index) in printCastles">
                                <td style="width: 5%">{{ index + 1 }}</td>
                                <td>{{ castle.name }}</td>
                                <td>{{ castle.year }}</td>
                                <td class="text-right">
                                    <button class="btn btn-info"><i class="fa fa-info"></i></button>
                                    <button class="btn btn-warning" @click="editCastle(castle.name)"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-danger" @click="removeCastle(castle.name)"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p v-else>Nenhum castelo encontrado.</p>

                <dialog id="editDialog">
                    <form @submit.prevent="confirmEditForm()" method="dialog">
                        <div class="row">
                            <div class="col-12">
                                <label for="editName">Nome:</label>
                                <input v-model="editForm.name" type="text" class="form-control" id="editName" required>
                            </div>
                            <div class="col-6">
                                <label for="editName">URL foto:</label>
                                <input v-model="editForm.photo" type="url" class="form-control" id="editPhoto" required>
                            </div>
                            <div class="col-6">
                                <label for="editYear">Ano de fundação:</label>
                                <input v-model="editForm.year" type="number" min="0" :max="getMaxYear()" class="form-control" id="editYear" required>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-primary" @click="closeDialog()">Fechar</button>
                        <button type="submit" class="btn btn-warning text-white">Confirmar edição</button>
                    </form>
                </dialog>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/vue-instance.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>