<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F04E02</title>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div id="intro" class="container mt-5">
        <ul v-if="printSchools.length">
            <h2>{{printSchools.length }} escolas do IPP</h2>
            <li v-for="school in printSchools">{{ school }}</li>
        </ul>
        <p v-else>SEM ESCOLAS</p>
        <button @click="addSchool">Adicionar escola</button>
        <button @click="filter">
            <span v-show="!filterLetter">Filtrar</span>
            <span v-show="filterLetter">Voltar</span>
        </button>
    </div>
    <script src="js/vue-instance.js"></script>
</body>

</html>